.select {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

select {
    background-color: #54217e;
    color: white;
    position: absolute;
    bottom: 70px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 40px;
}

.btnPages {
    border-radius: 50%;
    background-color: rgb(140, 18, 189);
    color: white;
    border: none;
    margin: 3px;
    cursor: pointer;
}

.btnBackNext {
    background-color: rgb(122, 21, 168);
    color: white;
    border: none;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.btnBackNext:active {
    background-color: #610464;
}