.select {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

select {
    background-color: #555a88;
    color: white;
    /* position: absolute;
    bottom: 60px; */
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 40px;
    /* position: absolute;
    bottom: 40px; */
}

.btnPages {
    border-radius: 50%;
    background-color: rgb(76, 148, 219);
    color: white;
    border: none;
    margin: 3px;
    cursor: pointer;
}

.btnBackNext {
    background-color: rgb(76, 148, 219);
    color: white;
    border: none;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.btnBackNext:active {
    background-color: #D93F3F;
}