Header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D93F3F;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

Header>button {
    background-color: #555a88;
    width: 227px;
    height: 35px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.registeredUsers {
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
    color: #D93F3F;
    text-align: end;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media (min-width: 320px) and (max-width: 576px) {
    Header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .registeredUsers {
        text-align: center;
    }
}